.input {
  border: 1px solid;
  font-size: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title__item {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 60px;
}

.title__item--into {
  font-weight: 400;
  font-size: 35px;
}

.country {
  font-weight: 700;
  font-size: 55px;
}
